@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}


/* 이성운 css start */
/* 상단 navbar  */
.nine h1 {

    margin-top: 20px;


    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

.nine h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}



/* team 소개와 이미지 파트*/
.main_up_team {
    display: flex;
    margin-bottom: 60px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}
/* team 소개 ( 왼쪽 )*/
.main_up_team_prd{
    position: relative;
    left:280px;

    width: 541px;
    height: 345px;
    padding: 10px 0px 0px 40px;
}
.main_up_team_prd:hover{
    transform: scale(1.1);
}
/* 중간 8의 이미지 ( 가운데 ) */
.number{
    position: relative;
    /* left:22px;
    top:60px; */
    width: 400px;
    height:400px;
    background-color : rgb(255,255,255); opacity : 0.1;
    
}
/* 팀원들이 나와있는 이미지 ( 오른쪽 ) */
.main_up_team_img{
    position: relative;
    right:280px;
    /* top: 40px;  */
    border-radius: 0.1;
    
} 
.main_up_team_img:hover{
    transform: scale(1.1);
}
/* 팀원들을 일일히 소개하는 파트 */
.main_up_div {
    display: flex;
    justify-content: center;
}




/* 카드 css */
.card_main { position: relative; width: 350px; height: 350px; margin: 0px 40px; perspective: 400px; } 
.card_main .card_content { position: absolute; width: 100%; height: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: transform 1s; transform-style: preserve-3d; } 
.card_main:hover .card_content { transition: transform 0.5s; } 
.card_main .card_front,
.card_main .card_back { display: flex; flex-direction: column;  justify-content: center; align-items: center; position: absolute; width: 100%; height: 100%; background: #fff; border-radius: 10px; font-size: 20px; color: #8ab4f8; text-align: center; backface-visibility: hidden; } 
.card_main .card_back { background: #8ea6ce; color: #fff; } 
.horizontal_card:hover .card_content { transform: rotateY(180deg); } 
.horizontal_card .card_back { transform: rotateY(180deg); } 


@media (max-width:1600px){
    .main_8img{
        display:none;
    }
    .main_up_team{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bgorder{
        
        width:700px;
        position: static;
        margin-top:20px;
    }
    .number{
        width: 180px;
        height: 180px;
    }
    
    
    

    .card_block{

        
        flex-direction: column;
        align-items: center;
    }
}


/* 이성운 css end */




/* 양재석 css start */
textarea{
    resize: none;
}

.modal {
    position: fixed;
    display: none;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    position: absolute;
    top: 50px;

    width: auto;
    height: auto;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    /* transform: translateY(-50%); */
}

.modalbox {
    margin: 30px 0px 30px 0px;
    /* height: 500px; */
}

.modal_mini{
    width: 400px;
    height: 500px;

    transform: translateY(30%); 
}

.commentbox{
    height: 70%;
}

#mini_mdl_comment{
    height: 100%;
}

#comment{
    resize: none;
    height: 100%;
}

.modaltitle{
    margin-top: 10px;
}

.mdl_crd_body>button{
    float: right;
    margin-left: 4px;
}
/* 양재석 css end */

/*김영규 css start*/

.book {
  width: 450px;
  margin: 30px auto 0px auto;
}
.mycards {
  padding-bottom: 20px;
}
.card_custom {
  width: 450px;
  margin: 30px auto 0px auto;
}

/*김영규 css end*/