body {
    margin: 0;
}
.nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }

nav {

    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 10px;
}

.main_up_team {
    display: flex;

    height: 500px;
    justify-content: space-around;
    align-items: center;
}

.name_box {
    width: 400px;
    height: 550px;
    border: 1px solid black;
}

.name_box_in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_up_div {
    display: flex;
    justify-content: space-around;

}